// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// responsiveness variables
$bp-largest : 75em;    //1200/16 = 75%
$bp-large : 62.5em;	//1000/16 
$bp-medium : 50em;	//800/16
$bp-small : 37.5em;	//600px
$bp-smallest: 37.25em;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //10/16 = 62.5 % ( to make font-size = 10px), now 1rem = 10px

	@media only screen and (max-width: $bp-largest){
		font-size: 50%;	//1rem = 8px => 50%
	}
}

body {
	font-family: $font-primary;
	color: $color-grey-dark-2;
	font-weight: 300;
}

.container {
	// It is best practice to give grid-template-rows and columns some name, that will help if we need to remove 
	// a row or column then instead of using the line-no (we will have to change all configurations), name of line
	// will automatically help
	display: grid;
	grid-template-rows: 80vh min-content auto auto repeat(3, min-content) ;
	// 80vh as this shell is based on view-port height
	// min-content : should take as height as it's content
	// auto is same like min-content
	// 40vw : now instead of view-port height, it will take view-port width

	// 1140/8 = 142.5 aprox 14rem
	// creating a fix column of 8rem for nav and remaining 8 col for grid system
	grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 
		minmax(6rem, 1fr)
		[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]	
			//fix size 8 column grid //generally we go with 8 col or 12 col grid.
			// minmax(min-content, 14rem) = max size 14rem and responsive but should 
			// not be less that the size of content.
		minmax(6rem, 1fr) [full-end];	

	//to middle the 8 col gird we are using two more columns of 1fr before and 1fr at end 


	@media only screen and (max-width: $bp-large){
		// changing grid defenetion, now we want side bar to the right cornor to make more space
		// we need to add new row and need to remove column for sidebar

		// add new row of 6 * 8 = 48px
		grid-template-rows: 6rem 80vh min-content auto auto repeat(3, min-content) ;
	
		// removed side-start column
		grid-template-columns: [full-start] 
			minmax(6rem, 1fr)
			[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]	
			minmax(6rem, 1fr) [full-end];	

		// now go to sidebar and change its position

	}

	@media only screen and (max-width: $bp-medium){
		// now make new row for header and realtors 
		// creating a new row for realtors after header row(after 80vh) with min-content
		// and also change header row to cover entire view-port(means 100vh - sidebar row = 96vh)
		// grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content auto repeat(3, min-content) ;

		//for remaining row they will be handeled automatically using min content
		grid-template-rows: 6rem calc(100vh - 6rem) ;
		
	}
}
